<div class="first">
        <br>
        <br>
        <br>
        <br>
        <h1>Welcome to Hyderabad</h1>
        <p>The City of Pearls</p>
    </div>

    <div class="second">
        <h1>About</h1>
        <P style="width:50%">"Hyderabad, the vibrant capital of Telangana, is renowned for its rich history, stunning architecture, and delectable cuisinei. This dynamic city seamlessly blends tradition and modernity, offering a unique cultural experience that captivates visitors from around the world.History Hyderabad, founded in 1591 by Muhammad Quli Qutb Shah, has a rich heritage that blends various cultures and influences. Originally a center for the diamond and pearl trade, it became the capital of the Nizams, who were known for their opulence and patronage of arts and architecture. </P>
            
        <div class="card">
            <div id="card1">
                <img src="assets/h.jpeg" id="card_img">
                <h2>history</h2>
                <h5>Hyderabad, founded in 1591 by Muhammad Quli Qutb Shah, has a rich heritage that blends various cultures and influences. Originally a center for the diamond and pearl trade, it became the capital of the Nizams, who were known for their opulence and patronage of arts and architecture.
                </h5>
            </div>
    
            <div id="card2">
                <img src="assets/g.jpg" id="card_img">
                <h2>Geography</h2>
                <h5>Located in the Deccan Plateau, Hyderabad is characterized by its rocky terrain and artificial lakes. The city has a tropical climate, with the best times to visit being from October to March when temperatures are mild.
                </h5>
            </div>
    
            <div id="card3">
                <img src="assets/d.jpg" id="card_img">
                <h2>Demographics</h2>
                <h5>"Hyderabad is one of the most diverse cities in India, with a population of over 10 million. The primary languages spoken are Telugu and Urdu, along with English, reflecting its multicultural fabric."
                </h5>
            </div>
    
        </div>
    </div>
    <div class="third">
        <h2>Places</h2>
        <p style="width: 50%">"Hyderabad, the City of Pearls, is a blend of historic grandeur and modern charm. From the iconic Charminar to its vibrant tech hubs, the city offers a unique cultural and culinary experience."</p>
        <div class="place">
            <div id="place1">
                <img src="assets/birla mandir.jpg" id="place_img">
                <h2>Birla Mandir</h2>
                <h5>The Birla Mandir complex also houses a temple dedicated to Buddha along with fresco paintings describing his life</h5>
                    
            </div>

            <div id="place2">
                <img src="assets/secre.jpeg" id="place_img">
                <h2>Secreterate</h2>
                <h5>A secretariate is an administrative unit that manages records and performs other secretarial duties. It can also refer to the office or staff that performs these duties. </h5>
            </div>


            <div id="place3">
                <img src="assets/golconda.jpeg" id="place_img">
                <h2>Golconda Fort</h2>
                <h5>Golconda was the principal capital of the Qutub Shahi kings. The inner fort contains ruins of palaces, mosques and a hill top pavilion, which rises about 130 meters high and gives a bird's eye view of other buildings. Golconda fort is undoubtedly one of most magnificent fortress complexes in India.</h5>
            </div>
            <div id="place4">
                <img src="assets/nehrupark.jpeg" id="place_img">
                <h2>Nehru Park</h2>
                <h5>Nehru Zoological Park is a must see for nature and wild life lovers. It also has rare species animals and birds, most of which are houses on conditions resembling their natural habitats as much as possible.</h5>
            </div>
            <div id="place5">
                <img src="assets/ramojifilm.jpeg" id="palace_img">
                <h2>Ramoji Film City</h2>
                <h5>Ramoji Film City is an integrated film studio facility located in Hyderabad, India. </h5>
            </div>
        </div>


    </div>

    
    